/* @font-face {
    font-family: 'Roboto', sans-serif;
} */

* {
    font-family: 'Roboto', sans-serif !important;
    color: #353535;
}

#nav {
    color: #f5f5f5;
    height: 100vh;
    width: 110px;
    background-color: rgba(56, 56, 56, 0.8);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 100;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo {
    width: 110px;
    height: 110px;
}

.burger {
    position: relative;
    width: 75px;
    height: 75px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .burger .burger__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
  }
  .burger div {
    margin: auto;
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 12px;
  }
  .burger span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--bar-bg, #49CE5F);
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  }
  .burger span:first-of-type {
    top: 0;
  }
  .burger span:last-of-type {
    bottom: 0;
  }
  .burger.active span:first-of-type,
  .burger .burger__cheeckbox:checked + div span:first-of-type {
    transform: rotate(45deg);
    top: 5px;
  }
  .burger.active span:last-of-type,
  .burger .burger__cheeckbox:checked + div span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
  }
  .burger.active:hover span:first-of-type, .burger.active:hover span:last-of-type, .burger:hover .burger__cheeckbox:checked + div span:first-of-type, .burger:hover .burger__cheeckbox:checked + div span:last-of-type {
    width: 25px;
  }
  @media (min-width: 1024px) {
    .burger:hover span:first-of-type {
      width: 26px;
    }
    .burger:hover span:last-of-type {
      width: 12px;
    }
  }
  
.burger__header {
    color: #f5f5f5;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    position: relative;
    top: 15px;
}
.socials {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}
.socials__line {
    width: 1px;
    height: 70px;
    background-color: #F5F5F5;
}
.socials__item {
    padding: 6px 6px 6px;
    margin-top: 20px;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
}
/* .socials__icon{
  color: #49CE5F;
  font-size: 100px;
} */
.nav__holder {
  height: 100vh;
  padding: 0 80px 35px 160px;
  color: #F5F5F5;
  background-color: #353535;
  width: 500px;
  position: absolute;
  position: fixed;
  z-index: 99;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  transform: translateX(-100%);
  transition:  0.5s ease-in-out;
}
.holder__active {
  transform: translateX(0);
}
.holder__wrapper {
  /* border: 1px solid red; */
}
.holder__title {
  margin-top: 35px;
  margin-bottom: 150px;
}
.holder__title__par {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #49CE5F;
  margin-bottom: 5px;
  text-align: right;
}
.holder__title__header{
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #F5F5F5;
  padding-bottom: 5px;
  border-bottom: 2px solid #49CE5F;
}
.holder__menu {
  width: 100%;
}
.holder__list {

}
.holder__list__item {
  margin-bottom: 20px;
  
}
.holder__list__item__link {
  display: block;
  height: 25px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #F5F5F5;
  text-transform: uppercase;
  position: relative;
  transition: color 0.4s ease-in-out;
  padding: 10px 0 0 5px;
}
.holder__list__item__link::after{
  content: '';
  width: 0%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: width 0.4s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.holder__list__item__link:hover{
  color: #49CE5F;
}
.holder__list__item__link:focus::after,
.holder__list__item__link:hover::after {
  width: 100%;
}
.holder__line {
  height: 100%;
  width: 3px;
  background-color: #1f1f1f;
}
.mask {
  width: 100%;
  height: 100vh;
  background-color: rgba(53, 53, 53, 0);
  position: fixed;
  left: 0;
  top: 0;
  transition: background-color 0.5s ease-in-out;
  z-index: 98;
}
.mask__active {
  background-color: rgba(53, 53, 53, 0.6);
}

.section {
  display: flex;
  justify-content: center;
}
.content {
  max-width: 1200px;
  width: 100%;
}
.main-green{
  color: #49CE5F;
}
.header {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #353535;
  text-transform: uppercase;
}
.header::before{
  content: '';
  width: 100px;
  height: 15px;
  background-color: #49CE5F;
  display: block;
  margin-bottom: 15px;
}


.intro {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro .content {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  width: auto;
}
.intro__title {
  max-width: 555px;
  color: #F5F5F5;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 64px;
  margin-bottom: 25px;
}
.intro__desc {
  max-width: 520px;
  background-color: rgba(56, 56, 56, 0.7);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #F5F5F5;
  text-transform: uppercase;
  padding: 14px;
  margin-bottom: 25px;
}
.get-started {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  padding: 16px 15px;
  background: #00CF55;
  border-radius: 20px; 
  border: none;
  cursor: pointer;
  max-width: 310px;
  width: 210px;
  transition: width 0.5s ease-in-out;
}
.get-started:hover {
  width: 310px;
}

.about {

}
.about .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 0 150px;
}
.about__wrapper {

}
.about__wrapper:nth-child(2){
  max-width: 600px;
}
.about__img {
  width: 450px;
  height: 530px;
  filter: drop-shadow(15px 15px 1px #49CE5F);
  border-radius: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #f5f5f5;
  padding: 8px 21px;
  background-color: #383838;
  border-left: 15px solid #49CE5F;
  display: inline;
  position: relative;
  top: 75px;
  left: -55px;
  filter: drop-shadow(0 0 0px #49CE5F);
  z-index: 98;
}
.about__header {
  margin-bottom: 50px;
  text-align: right;
}
.about__header::before {
  display: none;
}
.about__list {
  display: flex;
  justify-content: start;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #353535;
}
.about__list__item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.about__list__item::before {
  content: '';
  height: 5px;
  width: 5px;
  margin-right: 7px;
  background-color: #49CE5F;
}
.about__description {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #353535;
  margin-top: 25px;
}

.advantages {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.advantages .content {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  margin: 120px 0 120px;
}
.advantages__header {
  max-width: 500px;
  color: #F5F5F5;
  margin-bottom: 80px;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.advantages__list__item {
  box-sizing: border-box;
  width: 350px;
  height: 250px;
  border: 1px solid #49CE5F;
  margin-bottom: 50px;
  padding: 30px 20px;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #202020;
  border-radius: 18px;
  box-shadow: 0 0 3px rgba(73, 206, 95, 1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.advantages__list__item:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0 rgba(73, 206, 95, 1);
}
.advantages__list__item__icon {
  max-width: 65px;
  max-height: 65px;
  margin-bottom: 20px;
}
.advantages__list__item__desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F5F5;
}

.benefit {

}
.benefit .content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.benefit__header {
  max-width: 300px;
  align-self: flex-end;
  margin-bottom: 50px;
}
.benefit__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.benefit__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.benefit__list__item {
  width: 300px;
  border: 1px solid red;

  border: 1px solid #D4D4D4;
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}
.benefit__list__item:first-child {
  margin-right: 40px;
}
.benefit__list__item:last-child {
  position: relative;
  top: -80px;
}
.benefit__list__item:hover {
  transform: scale(1.1);
}
.benefit__list__item__img {
  max-width: 80px;
  max-height: 80px;
  margin-bottom: 15px;
}
.benefit__list__item__header {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #353535;
  margin-bottom: 15px;
}
.benefit__list__item__desc {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #353535;
}
.benefit__img {
  width: 495px;
  height: 755px;
}

.partners {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
}
.partners .content {
  padding: 90px 0 30px;
}
.partners__header {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #F5F5F5;
  margin-bottom: 30px;
}
.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.partners__list__item {
  margin: 0 50px 25px 0 ;
}
.partners__list__item__img {
  display: block;
  filter: grayscale(99%);
  -webkit-filter: grayscale(99%);
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.partners__list__item__img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  transform: scale(1.1);
}

.courses {

}
.courses .content {
  padding: 100px 0 88px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.courses__header {
  max-width: 300px;
  align-self: flex-end;
}
.courses__wrapper {
   display: flex;
   justify-content: space-between;
   align-items:flex-start;
   width: 100%;
   margin-bottom: 25px;
}
.course__name {
  align-self: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #353535;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.course__img {
  width: 450px;
  height: 550px;
}
.courses__desc {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 420px;
  box-sizing: border-box;
}
.courses__desc__header {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #353535;
  margin-bottom: 40px;
}
.courses__desc__header::after {
  content: '';
  width: 100px;
  height: 5px;
  background: #00CF55;
  display: block;
  margin-top: 15px;
}
.courses__desc_par {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #353535;
  margin-bottom: 25px;
  width: 100%;
}
.courses__data {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.courses__data__item {
  margin-bottom: 30px;
}
.courses__data__item__header {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 52px;
  color: #868686;
  text-align: right;
}
.courses__data__item__desc {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #868686;
}
.courses__showmore {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: rgba(73, 206, 95, 1);
  text-align: center;
  padding: 16px 45px;
  border-radius: 20px;
  transition:  transform 0.5s ease-in-out;
  margin-bottom: 50px;
}
.courses__showmore:hover {
  transform: scale(1.2, 1);
}
.courses__wrapper__course__img {
  width: 550px;
  height: 350px;
  background-color: #C4C4C4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.buy {
  padding: 16px 66px;
  text-align: center;
  background-color: rgba(73, 206, 95, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 20px 0px 0px 0px;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}
.buy:hover{
  background-color: rgb(13, 207, 45);
}
.more {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #353535;
  padding: 16px;
}
.courses__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
}
.courses__list__par {
  max-width: 510px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #353535;
  display: flex;
  align-items: baseline;
  margin-bottom: 35px;
}
.courses__list__par__img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}